/* Estilos específicos para el componente de juegos */
h2 {
    text-align: center;
    margin-top: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
  }
  
  li:hover {
    background: #f0f0f0;
  }
  